/* INDEX */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.header {
    background-color: gray;
    height: 1cm;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.sub-header {
    background-color: white;
    height: 4cm;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
   
}

.sub-header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1cm;
    width: 100%;
    margin-top: 1cm;
}

.charlie-keith {
    font-size: 32px;
    margin-left: 1cm;
    margin-right: 1cm;
}

.menu {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-right: 4cm;
}

.menu li {
    margin-right: 1.5cm;
    position: relative;
}

.menu li a {
    text-decoration: none;
    color: black;
}
/* ... */


/* ... */
.search-bar{
    display: flex;
}
.search-bar i {
    margin-right: 10px;
    font-size: 26px;
}
.banner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.banner img {
 width: 100%;
}


.image-container {
    margin-top: 2cm;
    margin-left: 5.5cm;
    margin-right: 5.5cm;
    display: flex;
    justify-content: space-between;
}

.sub-image img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    margin-top: 0.5cm;
  
}
.sub-image {
    margin-right: 0.5cm; /* Khoảng cách giữa 2 ảnh */
}
.text-container {
    margin-top: 0.5cm;
   
}

.text-container p {
    margin-bottom: 0.2cm;
}

.text-container a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.outline-container {
    margin-top: 1.5cm; /* Khoảng cách giữa 2 ảnh và đoạn chữ */
    text-align: center;
    font-size: 20px;
}


.image-list {
    margin-top: 0.5cm;
    margin-left: 5.5cm;
    margin-right: 5.5cm;
    display: flex;
    justify-content: space-between;
}

.image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-wrapper:not(:last-child) {
    margin-right: 0.5cm; /* Khoảng cách 0.5cm giữa các ảnh, trừ ảnh cuối cùng */
}

.image-wrapper img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
}

.image-caption {
    margin-top: 0.5cm;
    text-align: center;
}
.image-container  {
    text-decoration: none !important;
  }
  
  .newsletter {
    background-color: #E8E8E8;
    height: 7cm;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .newsletter-content {
    text-align: center;
  }
  
  .newsletter h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .newsletter p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .newsletter form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .newsletter input[type="email"] {
    width: 250px;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
  }
  
  .newsletter button {
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  .footer {
    background-color: #606060;
    color: white;
    height: 10cm;
    display: flex;
    justify-content: space-between;
    padding: 0 4cm;
  }
  
  .column {
    width: 23%;
    margin-top: 1cm;
  }
  
  .column h3 {
    font-size: 15px;
    margin-bottom: 10px;
  }
  
  .column ul {
    list-style-type: none;
    padding: 0;
  }
  
  .column ul li {
    margin-bottom: 8px;
    margin-top: 0.7cm;
  }
  
  .social-icons {
    display: flex;
    margin-bottom: 8px;
  }
  
  .social-icons a {
    color: white;
    margin-right: 10px;
  }
  
  .social-icons a:last-child {
    margin-right: 0;
  }
  
  .footer img {
    width: 120px;
  }
 
.dieu-huong{
    margin-top:0.5cm;
    margin-right: 3cm;
 text-decoration: none;
 color: black;
}

/* PRODUCTS */
.container_pro {
  display: flex;
  margin-top: 30px;
}

.container {
  display: flex;
  flex-direction: column;
}

.filter-table {
  margin-left: 4cm;
  width: 8cm;
  height: 5cm;
  border: 1px solid #000;
  overflow: auto;
}


.filter-table th {
  background-color: #f2f2f2;
  padding: 10px;
}

.filter-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
/* .table-wrapper{
  display: flex;
  flex-direction: column;
} */
.checkbox-label {
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

.checkbox-label input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.checkbox-label input[type="checkbox"]:checked + .checkmark:after {
  content: "";
  position: absolute;
  display: block;
  left: 4px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}



.background-box {
  height: 4cm;
  width: 24.5cm;
  background-color: #ccc;
  align-items: center;
  padding: 10px;
  margin-left: 1cm;
  display: flex;
  justify-content: center;
 
}
.navigation-bars {
  display: flex;
margin-left: 7.5cm;

}

.navigation-bar {
  width: 4cm;
  height: 1cm;
  background-color: #ccc;
  margin-top: 0.5cm;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4px;
}

.product-display {
  height: 14cm;
  width: 9cm;
  margin-top: 0.5cm;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.product-image {
  width: 80%; /* Điều chỉnh kích thước ảnh sản phẩm */
  height: auto; /* Giữ tỷ lệ hình ảnh */
}

.product-details {
  text-align: center;
}

.product-details h3{
  font-size: 17px;
}

.product-sizes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.size-dropdown {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.add-to-cart-button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
.product{
  display: flex;
 flex-wrap: wrap;
}

.product-info{
  padding: 10px;
}

.product-display:hover {
  border-color: #000;
  box-shadow: 0 0 5px #000;
  border: 1px solid #ccc;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}
/* NAVBAR */
.image-with-text img{
  width: 60%;
}
/* Style for the navbar */
.navbar {
  overflow: hidden;
  background-color: white;
  display: flex;
  padding: 20px;
}

/* Style for the navbar links */
.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
/* .navbar a:hover {
  background-color: #ddd;
  color: black;
} */

/* Style for the dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Style for the dropdown button */
.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Style for the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Style for the links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Change color of dropdown links on hover */
/* .dropdown-content a:hover {
  background-color: #ddd;
} */

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: flex; /* Change the display property to flex */
  flex-wrap: nowrap; /* Prevent wrapping of content to the next line */
}

/* Style for the right content */
.dropdown-content .right-content {
  flex-grow: 1; /* Allow the content to grow and fill available space */
}

/* Style for the left content */
.dropdown-content .left-content {
  margin-left: 20px; /* Add a margin to separate it from the right content */
}
/* -------------------------------------------------------------------------------------- */
.row{
  display: flex;
}

.pd-wrap {
	padding: 40px 0;
	font-family: 'Poppins', sans-serif;
}
.heading-section {
	text-align: center;
	margin-bottom: 20px;
}
.sub-heading {
	font-family: 'Poppins', sans-serif;
    font-size: 12px;
    display: block;
    font-weight: 600;
    color: #2e9ca1;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.heading-section h2 {
	font-size: 32px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 15px;
	font-family: 'Poppins', sans-serif;
}
.user-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
	min-width: 80px;
	background-size: 100%;
}
.carousel-testimonial .item {
	padding: 30px 10px;
}
.quote {
	position: absolute;
    top: -23px;
    color: #2e9da1;
    font-size: 27px;
}
.name {
	margin-bottom: 0;
    line-height: 14px;
    font-size: 17px;
    font-weight: 500;
}
.position {
	color: #adadad;
	font-size: 14px;
}
.owl-nav button {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	outline: none;
	height: 25px;
}
.owl-nav button svg {
	width: 25px;
	height: 25px;
}
.owl-nav button.owl-prev {
	left: 25px;
}
.owl-nav button.owl-next {
	right: 25px;
}
.owl-nav button span {
	font-size: 45px;
}
.product-thumb .item img {
	height: 100px;
}
/* .product-slider .item img {
	height: 100px;
} */

.product-name {
	font-size: 22px;
	font-weight: 500;
	line-height: 22px;
	margin-bottom: 4px;
}
.product-price-discount {
	font-size: 22px;
    font-weight: 400;
    padding: 10px 0;
    clear: both;
}
.product-price-discount span.line-through {
	text-decoration: line-through;
    margin-left: 10px;
    font-size: 14px;
    vertical-align: middle;
    color: #a5a5a5;
}
.display-flex {
	display: flex;
}
.align-center {
	align-items: center;
}
.product-info {
	width: 100%;
}
.reviews-counter {
    font-size: 13px;
}
.reviews-counter span {
	vertical-align: -2px;
}
.rate {
    float: left;
    padding: 0 10px 0 0;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float: right;
    width: 15px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 21px;
    color:#ccc;
	margin-bottom: 0;
	line-height: 21px;
}
.rate:not(:checked) > label:before {
    content: '\2605';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
.product-dtl p {
	font-size: 14px;
	line-height: 24px;
	color: #7a7a7a;
}
.product-dtl .form-control {
	font-size: 15px;
}
.product-dtl label {
	line-height: 16px;
	font-size: 15px;
}
.form-control:focus {
	outline: none;
	box-shadow: none;
}
.product-count {
	margin-top: 15px; 
}
.product-count .qtyminus,
.product-count .qtyplus {
	width: 34px;
    height: 34px;
    background: #212529;
    text-align: center;
    font-size: 19px;
    line-height: 36px;
    color: #fff;
    cursor: pointer;
}
.product-count .qtyminus {
	border-radius: 3px 0 0 3px; 
}
.product-count .qtyplus {
	border-radius: 0 3px 3px 0; 
}
.product-count .qty {
	width: 60px;
	text-align: center;
}
.round-black-btn {
	border-radius: 4px;
    background: #212529;
    color: #fff;
    padding: 7px 45px;
    display: inline-block;
    margin-top: 20px;
    border: solid 2px #212529; 
    transition: all 0.5s ease-in-out 0s;
}
.round-black-btn:hover,
.round-black-btn:focus {
	background: transparent;
	color: #212529;
	text-decoration: none;
}

.product-info-tabs {
	margin-top: 25px; 
}
.product-info-tabs .nav-tabs {
	border-bottom: 2px solid #d8d8d8;
}
.product-info-tabs .nav-tabs .nav-item {
	margin-bottom: 0;
}
.product-info-tabs .nav-tabs .nav-link {
	border: none; 
	border-bottom: 2px solid transparent;
	color: #323232;
}
.product-info-tabs .nav-tabs .nav-item .nav-link:hover {
	border: none; 
}
.product-info-tabs .nav-tabs .nav-item.show .nav-link, 
.product-info-tabs .nav-tabs .nav-link.active, 
.product-info-tabs .nav-tabs .nav-link.active:hover {
	border: none; 
	border-bottom: 2px solid #d8d8d8;
	font-weight: bold;
}
.product-info-tabs .tab-content .tab-pane {
	padding: 30px 20px;
	font-size: 15px;
	line-height: 24px;
	color: #7a7a7a;
}
.review-form .form-group {
	clear: both;
}
.mb-20 {
	margin-bottom: 20px;
}

.review-form .rate {
	float: none;
	display: inline-block;
}
.review-heading {
	font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 6px;
    text-transform: uppercase;
    color: #000;
}
.review-form .form-control {
	font-size: 14px;
}
.review-form input.form-control {
	height: 40px;
}
.review-form textarea.form-control {
	resize: none;
}
.review-form .round-black-btn {
	text-transform: uppercase;
	cursor: pointer;
}

.item-container {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: space-around;
}

.item {
  flex-basis: 48%;
  margin-bottom: 10px;
}

.item img {
  width: 100%;
  height: auto;
  margin-right: 20px;
}

.detail_total{
  width: 50%;
  display: flex;
  flex-direction: column;
}
.prod_detail_container{
  padding: 50px;
}